.jumbotron
{
  background-color: #a72424;
  font-family: 'Alfa Slab One', cursive;
  padding: 40px;
  min-height: 300px;
  color: #fff;
  border-radius: 0px;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
