<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#"><img src="../assets/logo.png" width="70" alt="Capicua Bank"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Capicua's Bank</h1>
    <p>Somos tu banco.</p>
    <img src="../assets/chase.png" width="70" alt="Capicua Bank"/>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-12 col-sm-4 text-center">
    <form (ngSubmit)="makeTransfer(body)">
      <h3>Transferencia</h3>
      <hr>
      <div class="form-group">
        <input type="number" class="form-control" name="CuentaIdOrigen"  [(ngModel)]="body.origen" aria-describedby="emailHelp" placeholder="Cuenta Origen">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="Contraseña" [(ngModel)]="body.password" placeholder="Contraseña">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="TransferenciaId" [(ngModel)]="body.destino" placeholder="Cuenta Destino">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="Monto" [(ngModel)]="body.monto" placeholder="Monto">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="Descripcion" [(ngModel)]="body.descripcion" placeholder="Descripcion">
      </div>

      <button type="submit" class="btn btn-danger ">Transferir</button>
    </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
